<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/JasonMSchroeder1/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="JasonMSchroeder1" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>